<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test03.dao.CollectDao">
    <resultMap id="resMap" type="com.example.test03.bean.collect.Collect">
        <result column="id" property="id"></result>
        <result column="create_time" property="createTime"></result>
        <result column="user_id" property="userId"></result>
        <result column="test_item" property="testItem"></result>
        <result column="test_name" property="testName"></result>
        <result column="picture" property="picture"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <select id="selectByType" resultMap="resMap">
        select * from t_collect where type = #{type}
    </select>
    <select id="selectAll" resultMap="resMap" parameterType="com.example.test03.bean.collect.Collect">
        select * from t_collect
            where
                id in
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>
    <insert id="insertBatch" keyProperty="id" parameterType="com.example.test03.bean.collect.Collect">
        insert into
            t_collect (create_time,user_id,test_item,test_name,picture,type) values
        <foreach collection="list" item="collect" separator="," >
            (#{collect.createTime},#{collect.userId},#{collect.testItem},#{collect.testName},#{collect.picture},#{collect.type})
        </foreach>
    </insert>
</mapper>